*{
    margin: 0;
    padding: 0 ;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
h1{
    color: darkgreen;
    text-align: center;
    padding: 10px;
}
h2{
    text-align: center;
    color: green;
    padding: 10px;
}
h3{
    color: green;
    text-align: center;
    padding-top: 15px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center; 1
    padding: 10px 10%;
    position: sticky;
    top: 0;
}
.imagenbienvenida{
    display: block;
    width: 40%;
    margin: auto;
}
a{
    text-decoration: none;
    text-align: center;
    color: #0E8126;
}
p{
  text-align: justify;
  padding: 10px  
}
.formulario{
    display: inline-block;
    padding: 5px;
    margin: auto;
}
.donativo{
    margin-top: 40px;
    margin-bottom: 15px;
    padding-top: 40px;
}
.botonDonativo{
    text-align: center;
    background-color: blueviolet;
    border: none;
    margin-bottom: 60px;
}
.candidatos{
    display: flex;
    justify-content: center;
    align-items: center;
    border: double 3px green;
    margin: 10px;
    object-fit: cover;
}
.formularioContacto{
    display: block;
}
.botoncontacto{
    background-color: #0E8126 ;
    border: none;
    border-radius: 30px;
}
.iframe{
    max-width: 350px;
    max-height: 250px;
}
.carruselDisenio{
    align-self: center;
    padding-top: 50px;
    max-width: 350px;
    max-height: 450px;
    margin: 5px;
}